
:root {
    /*
    --brand-main: Color of Top Bar
    --brand-accent: Color of Radio Button;
    --brand-header-home: Color of JWT-Inspect;
    --brand-header-about: Color of Contact Us; */
    
    --brand-main: #9900FF;
    --brand-accent: #00FF99;
    --brand-header-home: #FFF;
    --brand-header-about: #FFF;
}

/* ---------- Header Settings --------- */
a:hover {
    color: var(--brand-header-home) !important;
}

#header-bg{
    background-color: var(--brand-main) !important;
}

#headertext {
    color: var(--brand-header-home);
}

#headersubtext {
    color: var(--brand-header-about);
}

/* ---------- Add custom style for button ---------- */

.btn-check:checked + .btn {
    background-color:  var(--brand-accent);
    border-color: var(--brand-accent);
}

.btn-outline-primary {
    --bs-btn-border-color: var(--brand-accent);
    --bs-btn-color: var(--brand-accent);
} 
